@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script&family=Pacifico&family=Roboto:ital,wght@1,900&display=swap');

.main{
    background-color: #c5f5f2;
    height: 100%;
}

.Button {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 15px;
    color: #000000;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 80%;
}

.Button:hover {
    background-color: #08c58c;
    border: 3px solid #000000;
    color: #ffffff;
}